<div class="row"> <!-- create a row in the container for the form -->
  <div class="col-md-4 col-md-offset-4"> <!-- make the form 4 grid and offset 4 grid so it's center -->
    <div class="well"> <!-- put the form in a shaded area -->
      <%= form_for @contact do |f| %> <!-- make a form for instant variable @contact defined in the contact controller new action -->
        <div class="form-group"><!-- put each input field on a line -->
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
